<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <!-- Tailwind CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <!-- Webflow CSS - Add your Webflow CSS files here -->
    {% if webflow_css %}
      {% for css_file in webflow_css %}
        <link rel="stylesheet" type="text/css" href="/static/webflow/css/{{ css_file }}"/>
      {% endfor %}
    {% endif %}
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
  </head>
  <body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 min-h-screen flex flex-col transition-colors duration-200">
    {% include "./partials/navbar.html" %}

    <main class="flex-grow">
      {{ content | safe }}
    </main>

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>
    
    <!-- Webflow JS - Add your Webflow JS files here -->
    {% if webflow_js %}
      {% for js_file in webflow_js %}
        <script src="/static/webflow/js/{{ js_file }}"></script>
      {% endfor %}
    {% endif %}

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>