/* Local Fonts - Geist and EB Garamond (from npm packages) */

/* Geist Variable Font */
@font-face {
  font-family: 'Geist';
  src: url('/static/fonts/geist/Geist-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* EB Garamond - Regular (400) */
@font-face {
  font-family: 'EB Garamond';
  src: url('/static/fonts/eb-garamond/eb-garamond-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* EB Garamond - Italic (400) */
@font-face {
  font-family: 'EB Garamond';
  src: url('/static/fonts/eb-garamond/eb-garamond-latin-400-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* EB Garamond - Bold (800) */
@font-face {
  font-family: 'EB Garamond';
  src: url('/static/fonts/eb-garamond/eb-garamond-latin-800-normal.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* EB Garamond - Bold Italic (800) */
@font-face {
  font-family: 'EB Garamond';
  src: url('/static/fonts/eb-garamond/eb-garamond-latin-800-italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

